.head {
    font-size: 32px;
    font-weight: 700px;   
}
* {
    text-align: center;
    background: dimgray;
}


.box {
    width: 500px;
    margin: 0 auto;
    font-size: 20px;
    border: 
    

}

.b {
    width: 200px;
    margin: 0 auto;
    padding: 10px;
    border: 
    

}

